@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
svg {
  display: block;
  max-width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  min-height: 100dvh;
  display: grid;
  padding: 1rem;
  place-items: center;
  background-image: url("https://images.unsplash.com/photo-1606629693684-013d152e1395?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8ZGVsaGl8fHx8fHwxNjg3Njg2ODU0&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600");
  background-repeat: no-repeat;
  background-position: 50%;
}
.card {
  border-radius: 1rem;
  padding: 1.5rem;
  width: clamp(20rem, 30rem, 50vw);
  aspect-ratio: 1;
  background-color: rgba(17, 45, 78, 0.8);
  color: #f9f7f7;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  transform: perspective(1000px) rotateX(var(--rotate-X))
    rotateY(var(--rotate-Y));
  position: relative;
  transform-style: preserve-3d;
  box-shadow: 0 0 20px rgb(0, 0, 0);
}

.transition {
  transition: transform 1000ms;
}

.form {
  position: relative;
  display: grid;
  /* box-shadow: 0px 0px 10px currentColor; */
}
input {
  padding: 0.25rem 0 0.25rem 1rem;
  font-size: large;
  border-radius: 1000vw;
  border: none;
  overflow: hidden;
  border: none;
  outline: 2px solid purple;
}
input::placeholder {
  font-weight: 400;
}
.search {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.85rem;
  aspect-ratio: 1;
  z-index: 5;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.howsWeather {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
}
.first {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  transform-style: preserve-3d;
}
.weatherText,
.feelsLike {
  display: block;
  transform: translateZ(100px);
}
.weatherText {
  text-transform: capitalize;
  font-size: 2.75rem;
  font-weight: 700;
  text-shadow: 0 0 5px rgba(210, 17, 253, 0.794);
}
.weatherTemp {
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 0 0 5px rgba(210, 17, 253, 0.794);
}
.aboutWeather {
  display: flex;
  align-items: center;
}
.currState {
  font-size: 1.25rem;
}
.humidity {
  margin-bottom: 0.5rem;
}
.second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.minTemp,
.maxTemp {
  font-size: 1.25rem;
  display: block;
}
.feelsLike {
  margin-top: 0.25rem;
  font-size: 1.75rem;
}
.country {
  font-size: 1.875rem;
  color: #dbe2ef;
  text-shadow: 0 0 5px rgba(255, 236, 64, 0.794);
}
@media (width<800px) {
  .card {
    transition: transform 500ms ease;
  }
}
.toastContainer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.toastNoti {
  background-color: rgb(199, 33, 33);
  color: white;
  padding: 1rem 2rem;
}
.aqiContainer {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: #dbe2ef;
}
.aqi {
  display: grid;
  place-items: center;
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  font-size: larger;
  text-shadow: 4px 4px 10px black;
  padding: 0.5rem;
}
.hide {
  display: none;
}
.aqiContainer:hover .abtAqi {
  opacity: 1;
}
.abtAqi {
  display: flex;
  background-color: rgb(74, 111, 232);
  border-radius: 0.75rem;
  gap: 0.5rem;
  position: absolute;
  top: 0;
  left: 70px;
  z-index: -1;
  opacity: 0;
}
.abtAqi p {
  padding: 0.5rem;
}
.abtAqi > p ~ p {
  border-left: 1px solid black;
}
